$navbar-default-bg: white;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
  background-color: #D6EAF8;
  // margin-top: 40px;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}
  
.container {
  text-align: center;
  padding-top: 20px;
}

.footer {
  margin-top: 80px;
  font-size: 15px;
  // border-top: 1px solid #aeaeae;
}